html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
 background-color: #ffffff;
}

h1 {
  font-size: 55px;
  margin: 0;
  padding: 20px 0;
  color: blue;
  text-shadow: 3px 3px 1px gray;
  text-align: center;
}

h2 {
  font-size: 40px;
  text-align: center;
}

div {
      display: flex;
      justify-content: center;
    }

figure {
  align: center;
}

img {
  align: center;
}


p,
li {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
}



body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}



nav, article, aside, footer {
  background-color: #ffffff;
  padding: 1%;
}

nav {
  width: 100%;
  max-width: 1200px;
  height: 50px;
  background-color: #ffffff;
  display: flex;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

input {
  font-size: 1.6rem;
  height: 32px;
}

input[type="search"] {
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: gray;
  border: 0;
  color: white;
}


a:visited {
  color: purple;
  font-weight: bold;
}

a:hover {
  color: green;
}

